# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
# Jupyter Notebook
.ipynb_checkpoints/
# log files
*.log
logModels/
tf_logs
*.ckpt*
# media files
*.png
*.jpg
*.gif
*.pdf
*.mp4
#pickle files
*.pkl
*.pickle
*.tar
*.h5
# pytorch model files
*.pt 
*.pth
#vscode
.vscode/