# Requirements for Computer Vision and serviceBot face tracking project
# Usage
# pip install -r requirements.txt
# =================================================================================================================
# Environment and IDE
jupyterlab
# =================================================================================================================
# Computer vision and AI
opencv-python
#   Python image lib
PIL
# =================================================================================================================
# Data analysis
numpy
pandas
scipy
sklearn
# =================================================================================================================
# Visualization
matplotlib
seaborn
# =================================================================================================================
# Utilities
easydict
google_images_download
requests
#   Progress bar
tqdm
#   Shapely
#   Download .whl package from: https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely and pip install .whl package
# =================================================================================================================
# Install packages from github
# maskRCNN
# git+https://github.com/matterport/Mask_RCNN.git
# cocoapi
# git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
