# Requirements for Computer Vision and serviceBot face tracking project
# Usage
# pip install -r requirements.txt
# =================================================================================================================
# Environment and IDE
jupyterlab
# =================================================================================================================
# Computer vision and AI
opencv-python
tensorflow-datasets
#   Python image lib, PIL
Pillow 
# =================================================================================================================
# Data analysis
numpy
pandas
scipy
sklearn
# =================================================================================================================
# Visualization
matplotlib
seaborn
scikit-image
#    pydot and graphviz for keras plot_model
pydot
graphviz
plotly

# =================================================================================================================
# FileIO
pyyaml
requests
# =================================================================================================================
# Utilities
easydict
google_images_download
requests
#   pathlib to deal with path format on different OS
pathlib
#   Progress bar
tqdm
psutil # Profiling CPU usage
# NLP
nltk # NLP toolkit
#   Shapely
#   Download .whl package from: https://www.lfd.uci.edu/~gohlke/pythonlibs/#shapely and pip install .whl package
# =================================================================================================================
# Install packages from github
# maskRCNN
# git+https://github.com/matterport/Mask_RCNN.git
# cocoapi
# git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
